* {
  margin: 0;
  padding: 0;
}
main {
  max-width: 1000px;
  margin: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/****** kategori**********/

.box_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.box_style {
  background-color: aqua;
  padding: 1rem;
  text-align: center;
}

/***** produktliste ****/

.produktliste_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

/****** produkt ************/

.produkt_grid{
display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1rem;
}
