* {
  margin: 0;
  padding: 0;
}
main {
  max-width: 1000px;
  margin: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*********** forside********/
.sportstøj {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 5rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: rgb(18, 179, 0);
}

/******  font *******/
h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 3.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
a {
  font-size: 1.2rem;
  color: orangered;
  font-weight: bold;
  font-family: "Rubik Mono One", sans-serif;
  text-decoration: none;
}
h2 {
  font-family: "Rubik Mono One", sans-serif;
}

h3 {
  font-family: "Rubik Mono One", sans-serif;
}

/*********** list *******/
ul {
  list-style: none;
}

/****** kategori**********/

.box_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.box_style {
  background-color: rgb(18, 179, 0);
  padding: 1rem;
  text-align: center;
}

/***** produktliste ****/

.produktliste_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.tilbud {
  text-align: center;

  background-color: rgb(255, 242, 0);
}
.udsolgt {
  text-align: center;
  background-color: rgb(255, 0, 0);
}
.hidden {
  display: none;
}
/****** produkt ************/

.produkt_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
